
############################################################################
## Author: Frederic Depuydt                                               ##
## Mail: frederic.depuydt@outlook.com                                     ##
############################################################################

## Compilation files
__pycache__
.pytest_cache

## VS Code files
.vs
*.code-workspace